@use "../../utils/global.scss" as *;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  @include tablet {
    justify-content: center;
    align-items: center;
    height: 100vh;

    &::before {
      content: "";
      display: flex;
      height: 100%;
      width: 100%;
      background-color: rgba(13, 56, 84, 0.623);
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
    }
  }

  &__content-container {
    height: 100%;
    overflow-y: scroll;
  }

  &__container {
    z-index: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 0;
    box-shadow: 0 0.2rem 0.5rem 0 rgba(39, 39, 39, 0.429);
    box-sizing: border-box;
    padding: 1rem;
    position: relative;
    transform: scale(0);
    opacity: 0;
    animation: zoomIn 0.3s forwards;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;

    @include tablet {
      height: 90%;
      width: 90%;
      padding: 1rem;
      border-radius: 2rem;
      overflow: hidden;
    }
  }

  &__close-btn {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    height: 4rem;
    width: 5rem;
    border-radius: 0.8rem;
    border: none;
    outline: none;
    display: flex;
    align-items: end;
    box-sizing: border-box;
    padding: 1.2rem 0.8rem;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;

    &:hover {
      background-color: #eb3965;
      color: white;
    }
  }

  &-title {
    display: flex;
    width: 100%;
    background-color: #eb678845;
    height: fit-content;
    box-sizing: border-box;
    padding: 1rem;
    flex-direction: column;
    align-items: center;

    @include tablet {
      flex-direction: row;
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;
    }

    &__img {
      width: 5rem;
      height: 5rem;

      @include tablet {
        width: 8rem;
        height: 8rem;
      }
    }

    &__details {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 0 2rem;
      width: 100%;
      text-align: center;

      @include tablet {
        text-align: start;
      }

      & .details__heading {
        margin: 0;
        font-size: 1rem;

        @include tablet {
          font-size: 1.2rem;
        }
      }

      & .details__text {
        line-height: 1.5rem;
        margin: 0;
        margin-top: 0.5rem;
        font-size: 0.85rem;

        @include tablet {
          font-size: 1rem;
        }
      }
    }
  }
}

.recipe-list {
  display: flex;
  overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.recipe-item {
  height: 5rem;
  width: 5rem;
  overflow: hidden;
  border-radius: 0.3rem;
  margin: 1rem 0;
  cursor: pointer;
  box-shadow: 0 0.1rem 0.2rem 0 rgb(145, 140, 140);

  @include tablet {
    height: 10rem;
    width: 8rem;
  }

  &:hover {
    box-shadow: 0 0.1rem 0.2rem 0 lightcoral;
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
  }

  & img {
    height: 100%;
    width: 100%;
  }
}

.recipe-selected {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  & .title {
    display: flex;
    align-items: center;
    margin: 0;
    gap: 1rem;
    justify-content: center;

    & img {
      width: 2rem;
      height: 2rem;
      transform: rotate(95deg);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  & .details {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin: 1rem 0;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      flex: 1;
    }

    &-image {
      height: 13rem;
      width: 10rem;
      margin: 0;

      @include tablet {
        height: 70%;
        width: 15rem;
      }

      @include desktop {
        height: 80%;
        width: 15rem;
        margin: 2rem 0;
      }
    }

    &__ingredients {
      display: flex;
      flex-direction: column;
      margin: 2rem 0;
      scrollbar-width: thin;
      scrollbar-color: transparent transparent;
      width: 100%;
      align-items: center;
      padding: 0;

      @include tablet {
        width: fit-content;
        padding-left: 1.5rem;
        flex-wrap: wrap;
        overflow-x: scroll;
        margin: 0;
        align-items: start;
      }

      @include desktop {
        width: fit-content;
        align-items: start;
        margin: 2rem 0;
      }

      & li {
        font-size: 0.85rem;
        margin: 0.3rem;
        width: fit-content;
        text-align: center;

        @include tablet {
          width: fit-content;
          list-style-type: square;
          font-size: 1rem;
          text-align: start;
        }

        @include desktop {
          width: fit-content;
        }
      }
    }
  }

  & .source {
    text-decoration: underline;
    width: fit-content;
    align-self: center;
    cursor: pointer;
    text-align: center;

    &:hover {
      color: blue;
    }
  }
}
