.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &::before {
    content: "";
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(13, 56, 84, 0.623);
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  &__container {
    z-index: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
    border-radius: 2rem;
    box-shadow: 0 0.2rem 0.5rem 0 rgba(39, 39, 39, 0.429);
    box-sizing: border-box;
    padding: 1rem 1rem 0;
    position: relative;
    transform: scale(0);
    opacity: 0;
    animation: zoomIn 0.3s forwards;
    overflow: hidden;
  }

  &__close-btn {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    height: 4rem;
    width: 5rem;
    border-radius: 0.8rem;
    border: none;
    outline: none;
    display: flex;
    align-items: end;
    box-sizing: border-box;
    padding: 1.2rem 0.8rem;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;

    &:hover {
      background-color: #eb3965;
      color: white;
    }
  }

  &-title {
    display: flex;
    width: 100%;
    background-color: #eb678845;
    border-radius: inherit;
    height: fit-content;
    box-sizing: border-box;
    padding: 1rem;

    &__img {
      width: 8rem;
      height: 8rem;
    }

    &__details {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 0 2rem;
      width: 100%;

      & .details__heading {
        margin: 0;
      }

      & .details__text {
        line-height: 1.5rem;
        margin: 0;
        margin-top: 0.5rem;
      }
    }
  }
}

.recipe-list {
  display: flex;
  overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.recipe-item {
  height: 10rem;
  width: 8rem;
  overflow: hidden;
  border-radius: 0.3rem;
  margin: 1rem 0;
  cursor: pointer;
  box-shadow: 0 0.1rem 0.2rem 0 rgb(145, 140, 140);

  &:hover {
    box-shadow: 0 0.1rem 0.2rem 0 lightcoral;
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
  }

  & img {
    height: 100%;
    width: 100%;
  }
}

.recipe-selected {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  & .title {
    display: flex;
    align-items: center;
    margin: 0;
    gap: 3rem;
    position: relative;
    justify-content: center;

    & img {
      width: 2rem;
      height: 2rem;
      transform: rotate(95deg);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 0;
    }
  }

  & .details {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin: 1rem 0;
    flex: 1;

    &-image {
      height: 100%;
      width: 15rem;
      margin: 2rem 0;
    }

    &__ingredients {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 90%;
      margin: 2rem 0;
      overflow-x: scroll;
      scrollbar-width: thin;
      scrollbar-color: transparent transparent;
      width: 50%;

      & li {
        list-style-type: square;
        font-size: 1.2rem;
        width: 45%;
        margin: 0.2rem;
      }
    }
  }

  & .source {
    text-decoration: underline;
    width: fit-content;
    align-self: center;
    cursor: pointer;

    &:hover {
      color: blue;
    }
  }
}
